h1{
    color: lightcoral;
    text-align: center;

}

p{
    color: rgb(0, 30, 255);
    margin: 30px;
    text-align: justify;


}

h3{
    color: blueviolet;
    text-align: center;
}

div h3{
    color: red;
}

