.sample{
    border: solid 2px red;
    text-align: center;
}

.sample>p>span{

    color: red;
    font-size: xx-large;
}

.sample2{

    text-align: justify;
    column-count: 3;
    column-gap: 25px;

}

