@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.message{
    font-family:poppins;
    border: solid 3px black;
    text-align: center;
    margin: 75px;
    padding: 50px;

}